<!-- Primary footer -->
<footer class="primary-footer container group">
	<small>&copy; CodeMonk</small>
	<!-- links -->
	<nav class="nav"> 
		<ul>
			<li><a href="index">HOME</a></li>
			<li><a href="portfolio">PORTFOLIO</a></li>
			<li><a href="contact">CONTACT</a></li>
		</ul>
	</nav>

	<div class="icons">
		<a href="http://www.github.com/nikhilprakashmenon" target="_blank"> 
			<i class="fa fa-github-square fa-2x"></i> 
		</a>
		<a href="https://in.linkedin.com/in/nikhil-prakash-b8246276" target="_blank"> 
			<i class="fa fa-linkedin fa-2x"></i>
		</a>
	</div>		

</footer>