<!-- Primary header -->

<header class="primary-header container group row-alt">
	
	<!-- logo -->
	<h1 class="logo">
		<a href="index"> CodeMonk </a>
	</h1>

	<!-- links -->
	<nav class="nav">
		<ul>
			<li><a href="index">HOME</a></li>
			<li><a href="portfolio">PORTFOLIO</a></li>
			<li><a href="contact">CONTACT</a></li>
		</ul>
	</nav>

</header>