<!Doctype html>
<html>
<head>
	<% include ../partials/head.ejs %>
	<title>Admin login</title>

	<script type="text/javascript">

		function validateForm(){
			var mobile = Number(document.forms["adminForm"]["mobile"].value);
			var regex = /^[0-9]{10}$/;
			if(!regex.test(mobile)){
				alert("Invalid mobile no");
				return false;
			}
			else{
				var ptext = document.forms["adminForm"]["adminpass"];
				var cypher = Sha256.hash(ptext.value); 
				ptext.value = cypher;
				return true;
			}
		}

	</script>


</head>
<body>

	<!-- Primary header --> 
	<% include ../partials/header.ejs %>

	<!-- Main Content -->
	<div class="grid main-content">
		
		<!-- Contact me -->
		<section class="content admin">
			
			<h2> Admin Login </h2>

			<p> Please go back to home page if you have you reached this page by mistake...

			<form name="adminForm" class="col-2-3" action="/adminPage" method="post" onsubmit="return (validateForm());">
				<fieldset  class="sender-info">

					<label> 
						Mobile no 
						<input type="text" name="mobile" required>
					</label>
				
					<label> 
						Password 
						<input type="password" name="adminpass" required>
					</label>
				
				</fieldset>
					
				<fieldset  class="sender-action">
					<input class="btn" type="submit" name="contact-info" value="Send">
				</fieldset>

			</form>

		</section>

	</div>

	<!-- Primary footer -->
	<% include ../partials/footer.ejs %>


<script src="assets/javascript/sha256hash.js"></script>
</body>
</html>