<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
	<title>Nikhil Prakash</title>
</head>
<body>

	<!-- Primary header -->
	<% include ../partials/header.ejs %>

	<section class="row quote">
		<div class="container">
				<q cite="Martin Golding"> &ldquo;Always code as if the guy who ends up maintaining your code will be a <br><br> violent psychopath who knows where you live&rdquo; - Martin Golding
				</q>
		</div>
	</section>


	<!-- tagline and image -->
	<section class="container">
		
		<div class="jumbotron"> 
 
 			<a href="adminPage">
				<img src="assets/images/myself.jpg" alt="My Image"> 
			</a>

		</div>

	</section>


	<!-- Main Content -->
	<section class="row">
		<div class="grid main-content">
			
			<!-- About me -->
			<section class="content col-2-3">
				
				<h2> About Me </h2>

				<p>
					I like to think myself as a computer polyglot with the desire to be the master of all trades and the jack of all. I like to kill time by mastering new programming languages and honing my data structure skills. Rather than trying to solve all the complexities that life puts forth, I prefer computing the complexities of algorithms. When I am not breaking my head over these, I like to spend time listening to songs or reading novels. If you want to know more about me..click on 'Contact'...Chow!
				</p>

			</section><!-- 

				Connect		
		 --><aside class="content col-1-3">

				<h2> Connect </h2>
				<div class="icons">
					<a href="http://www.github.com/nikhilprakashmenon" target="_blank"> 
						<i class="fa fa-github-square fa-4x"></i> 
					</a>
					<a href="https://in.linkedin.com/in/nikhil-prakash-b8246276" target="_blank"> 
						<i class="fa fa-linkedin fa-4x"></i>
					</a>
				</div>

			</aside>

		</div>
	</section>


	<!-- Mobile display -->
	<section class="container small-viewport group">

		<!-- portfolio -->
		<section>
			<a href="portfolio.html#main-content">
				<h2> My Porftolio </h2>
				<i class="fa fa-briefcase fa-4x"></i>
			</a>
		</section>

		<!-- contact -->
		<section>
			<a href="mailto:nikhilprakashmenon@gmail.com?subject=Reaching%20Out&body=How%20are%20you">
				<h2> Contact Me</h2>
				<i class="fa fa-envelope fa-4x"></i>
			</a>
		</section>

	</section>

	<!-- Primary footer -->
	<% include ../partials/footer.ejs %>

</body>
</html>