<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
	<title>My Portfolio</title>
</head>
<body>

	<!-- Primary header -->
	<% include ../partials/header.ejs %>

	<!-- Main Content -->
	<section class="portfolio">
		<div class="grid main-content">
			
			<!-- Project 1 -->
			<section class="content col-1-3 project">
	
				<a href="https://github.com/nikhilprakashmenon/Android-Game" target="_blank">
					<h2> Android Game Using AndEngine</h2>
					<img src="assets/images/proj1.png" alt="android game using AndEngine and PhysicsBox">
				</a>
				
			</section><!-- 

				Project 2	
		 --><section class="content col-1-3 project">

				<a href="https://github.com/nikhilprakashmenon/Online-Presentation-Builder" target="_blank">
					<h2> Online Presentation Builder </h2>
					<img src="assets/images/proj2.jpg" alt="Online presentation builder">
				</a>
				
			</section><!-- 
				Project 3
			 --><section class="content col-1-3 project">

				<a href="https://github.com/nikhilprakashmenon/Lisp-Interpreter-in-Javascript" target="_blank">
					<h2> Lisp Interpreter in Javascript </h2>				
					<img src="assets/images/proj3.jpg" alt="lisp interpreter in javascript">
				</a>			
			</section>

		</div>
	</section>

	<section class="portfolio">
		<div class="grid main-content">
			
			<!-- Project 4 -->
			<section class="content col-1-3 project">
				
				<a href="https://github.com/nikhilprakashmenon/CollegeManagementSystem" target="_blank">
					<h2> College Management System </h2>
					<img src="assets/images/proj4.jpg" alt="android game using AndEngine and PhysicsBox">
				</a>
				
			</section>

		</div>
	</section>

	<!-- Primary footer -->
	<% include ../partials/footer.ejs %>

</body>
</html>